button{
    background-color: green;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
    width: 100px;
}

.count{
font-size: 49px;
padding: 15px 30px;
}

.reset{
    background-color: red;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
    width: 200px;
}

body{
    padding: 15px 30px;
}